<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Game</a>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/new-game" class="nav-link">New Game</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list-of-games-by-platform" class="nav-link">List of games</a>
      </li>
    </ul>
  </div>
</nav>
