<div class="row mt-2">
  <div class="col-4">
    <h4>Add new game</h4>
    <form (ngSubmit)="addGame()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" #nameInput/>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input type="text" id="imageUrl" class="form-control" #imageInput/>
      </div>
      <div class="form-group">
        <label for="type">Type of platform</label>
        <select id="type" #typeSelect>
          <option>Personal Computer</option>
          <option>Sony Playstation</option>
          <option>X-box</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" #descriptionTextarea></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
