<div *ngFor="let game of gamesByPlatform; let i = index" (click)="showInfo(i)" class="my-3" >

  <h5>{{ game.name }}</h5>
  <img [src]="game.image" alt="{{ game.name }}" style="height: 200px; width: 200px;">
</div>

