<div class="row mt-4">
  <div class="col-3">
    <h4>Gaming platforms</h4>
      <div class="card text-center" (click)="addToList('Personal Computer')" routerLink="personal-computer">
      <img src="https://ap-pics2.gotpoem.com/ap-pics/user/5836/241big.jpg?120309vintagecompu" alt="PC">
      <div class="card-body">
        <h5 class="card-title">Personal Computer</h5>
      </div>
      </div>

    <div class="card text-center" (click)="addToList('Sony Playstation')" routerLink="sony-playstation">
      <img src="https://images.by.prom.st/147052443_w500_h500_igrovaya-pristavka-sony.jpg" alt="Sony P">
      <div class="card-body">
        <h5 class="card-title">Sony Playstation</h5>
      </div>
    </div>
    <div class="card text-center" (click)="addToList('X-box')" routerLink="x-box">
      <img src="https://www.electro.pl/media/cache/filemanager_original/icons/categories/Konsole_i_gry/Konsole-Xbox-360.jpg" alt="X-box">
      <div class="card-body">
        <h5 class="card-title">X-box</h5>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h4>List of games this platform</h4>
    <router-outlet></router-outlet>
  </div>
</div>


