<div class="row mt-4">
  <div
    *ngFor="let game of games"
    class="card col-3">
    <img [src]="game.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ game.name }}</h5>
      <p class="card-text">{{ game.description }}</p>
      <p class="card-text">{{ game.platform }}</p>
    </div>
  </div>
</div>
